<h1>Список вопросов "<%= @test.title %>"</h1>

<table>
  <thead>
    <tr>
      <th>Текст вопроса</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <%= render @questions %>
  </tbody>
</table>

<%= link_to 'Новый вопрос', new_test_question_path(@test) %>
