<h1>Просмотр вопроса</h1>

<p><strong>Текст вопроса:</strong> <%= @question.body %></p>

<%= link_to 'Редактировать', edit_question_path(@question) %> |
<%= link_to 'Назад к тесту', test_path(@test) %> |
<%= button_to 'Удалить', question_path(@question), method: :delete, data: { confirm: 'Вы уверены?' } %>