<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<%= link_to 'Редактировать', edit_test_path(@test) %>

<%= link_to "Назад к тестам", tests_path %>
