<footer>
  <p>&copy; <%= current_year %> <%= author_name %></p>
  <p><%=  github_url("bursachelio", "test-guru") %></p>
  <p>Учебный проект в онлайн-школе <%= link_to "Thinknetica", "https://thinknetica.com", target: "_blank" %></p>
</footer>
